body {
    margin: 0;
    text-align: center;
    font-family: 'Noto Serif JP', 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #40514E;
}

h1 {
    margin: 0 auto;
    font-family: 'Great Vibes', 'Italianno', cursive;
    font-size: 5.625rem;
    color: #71A333;
}

h2 {
    font-family: 'Noto Sans JP', 'Raleway', sans-serif;
    color: #71A333;
    font-size: 4rem;
}

h3 {
    font-family: 'Noto Sans JP', 'Raleway', sans-serif;
    color: #8CC840;
}

p {
    line-height: 1.75;
}

hr {
    border: dotted #D3D3D3 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.subtitle {
    font-size: 2rem;
    font-weight: normal;
}

.top-container {
    background-color: #E8F9FD;
    padding-top: 130px;
}

.middle-container {
    background-color: #FAF9F6;
}

.hello-header {
    margin: 20px auto 25px auto;
}

.hello-content {
    width: 50%;
    margin: 0 auto 50px auto;
}

.bottom-container {
    background-color: #B4E197;
    padding: 60px 0;
}

.contact-header {
    margin: 53.120px auto 20px auto;
}

.contact-subheader {
    margin: 20px auto 20px auto;
}

.contact-content {
    margin-bottom: 50px;
}

.contact-me {
    margin: 0 auto 0 auto;
    width: 75%;
    padding-bottom: 100px;
}

.landscape {
    width: 1000px;
    height: 475px;
    position: relative;
    top: 6px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.programming-img {
    width: 40%;
    float: left;
    margin-right: 50px;
}

.chess-img {
    width: 40%;
    float: right;
    margin-left: 50px;
}

.cloud {
    height: 200px;
    position: absolute;
}

.top-cloud {
    top: 60px;
    right: 270px;
}

.bottom-cloud {
    top: 135px;
    left: 270px;
}

.profile-picture {
    border-radius: 50%;
    margin: 100px auto 0 auto;
    width: 15%;
}

.footer-link {
    color: #4E944F;
}

.copyright {
    color: #EAF6F6;
    margin: 10px auto 0 auto;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #FAF9F6;
    font-size: 30px;
    background: #83BD75;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #4E944F;
    text-decoration: none;
}